@using System.Web.Optimization
@{
    int quantitesTemp = 0;
    if (Helper.UserName != null)
    {
        HttpCookie CartCookie = Request.Cookies[Helper.UserName];
        if (CartCookie != null)
        {
            foreach (var item in CartCookie.Values)
            {
                string cookieValue = Convert.ToString(CartCookie[Convert.ToString(item)]);
                if (cookieValue != null)
                {
                    int qty = int.Parse(@cookieValue.Split('^')[0]);
                    quantitesTemp = quantitesTemp + qty;
                }
            }
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShoppingCart Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Styles.Render("~/Content/footer.css")
    
    @Styles.Render("~/Content/SocialMediaIcons.css")
    @*@Styles.Render("~/Content/SocialMedia.css")*@
</head>
@{
    var id = Request.Url.Segments.Last();
    string actionName = ViewBag.Title;
    ViewBag.Pv_Parameter = "Categories";
}
<body>

    @Html.Partial("_eCommerceHeader")

    <div class="container">
        <div class="row">

            <div class="" style="float:left">
                <p style="font-weight:bold;font-size:20px;padding-left:15px;">Categories</p>
                <br />
                @*@Html.Partial("CategoryPartialView")*@
                @Html.Partial("Category/_SideMenuList")
            </div>
            <div class="col-md-10 col-sm-12">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <hr />
        @*<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">*@

    </div>
    <!--footer start from here-->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4">
                        <a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                        <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">@DateTime.Now.Year</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Contacts</h5>
                    <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd>798 South Park Avenue, Jaipur, Raj</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd>
                            <a href="tel:#">+91 7568543012</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                    <h5>Links</h5>
                    <ul class="nav-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="center">
                        <ul class="social-network social-circle">
                            <li style="display: inline;"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li style="display: inline;"><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li style="display: inline;"><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li style="display: inline;"><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row no-gutters social-container">
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
            </div>*@
    </footer>
    <!--footer start from here-->
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
